
@model CharacterRoomViewModel




<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>




    </style>
</head>

<body>
    

        <h1 style="text-align:center;font-weight: 400;">Выбери персонажа для входды в группу </h1>
        <hr />

   
    <div style="width:100%;">

        <form action="/Room/JoinTheRoom" method="post">
         

            <div style="text-align:center;margin-bottom:20px;">
                         
                <select name="GameCharId" id="JoinTheRoom">
                    @foreach (var item in Model.Characters)
                    {
                        <option value="@item.CharacterId">@item.CharacterName</option>
                    }
                </select>
            </div>
            <div style="text-align:center">
                <input type="submit" value="Add Group" />
            </div>

            @Html.HiddenFor(q=>q.RoomDTO.RoomId)
        </form>
    </div>
</body>